.universe-autoform-select{
    position: relative;
}

.universe-autoform-select select {
    display: none;
}

.universe-autoform-select .selectize-input input{
    width: 4px;
    opacity: 1;
    position: relative;
    left: 0px;
}

.universe-autoform-select .selectize-dropdown{
    width: 100%!important;
    top: 36px;
}

.universe-autoform-select.loading:after{
    content: "";
    width: 16px;
    height: 16px;
    background: url('/packages/vazco_universe-autoform-select/img/loading.gif') no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
}

.universe-autoform-select-placeholder{
    color: #bbb;
}
